apiVersion: batch/v1
kind: Job
metadata:
  name: covid19-immunization-hapi-fhir-config-importer-job
  labels:
    app.kubernetes.io/name: hapi-fhir-config-importer
    app.kubernetes.io/instance: covid19-immunization-hapi-fhir-config-importer-1
    app.kubernetes.io/version: '0.1'
    app.kubernetes.io/component: hapi-fhir-config-importer
    package: covid19surveillance
spec:
  backoffLimit: 3
  template:
    spec:
      initContainers:
        - name: covid19-immunization-check-hapi-fhir-status
          image: busybox:1.28
          command: ['sh', '-c', 'until telnet hapi-fhir-server-service 8080; do echo HAPI FHIR not running yet; sleep 10; done;']
      containers:
        - name: covid19-immunization-hapi-fhir-config-importer
          image: jembi/instantohie-config-importer
          args:
            - sh
            - -c
            - wait-on -t 60000 http-get://hapi-fhir-server-service:8080 && npm install axios@0.21.1 adm-zip@0.5.4 && node fhirConfig.js
          env:
            - name: HAPI_FHIR_BASE_URL
              value: 'http://hapi-fhir-server-service:8080/fhir'
            - name: COVID19_IG_URL
              value: 'https://jembi.github.io/covid19-immunization-ig'
            - name: NODE_ENV
              value: 'production'
          volumeMounts:
            - mountPath: /importer
              name: covid19-immunization-hapi-fhir-config-importer-config
      restartPolicy: OnFailure
      volumes:
        - name: covid19-immunization-hapi-fhir-config-importer-config
          configMap:
            name: covid19-immunization-hapi-fhir-config-importer-configmap
