version: '3.3'

services:
  # container for executing config import scripts for setting up initial config
  covid19-immunization-openhim-config-importer:
    container_name: covid19-immunization-openhim-config-importer
    image: jembi/instantohie-config-importer
    restart: on-failure
    environment:
      OPENHIM_API_HOSTNAME: 'openhim-core'
      OPENHIM_API_PORT: 8080
      OPENHIM_API_USERNAME: 'root@openhim.org'
      OPENHIM_API_PASSWORD: 'instant101'
      # Reject unauthorised is only needed if the OpenHIM's SSL is not setup
      NODE_TLS_REJECT_UNAUTHORIZED: 0
    volumes:
      - type: volume
        source: instant
        target: /instant
    # This command will only attempt to import the OpenHIM config when the heartbeat responds with a 2xx
    command: sh -c "wait-on -t 60000 https-get://openhim-core:8080/heartbeat && node /instant/covid19-immunization-tracking-package/docker/importer/volume/openhimConfig.js"

  # container for executing config import scripts for setting up initial config
  covid19-immunization-config-importer:
    container_name: covid19-immunization-config-importer
    image: jembi/instantohie-config-importer
    restart: on-failure
    environment:
      MEDIATOR_HOSTNAME: 'covid19-immunization-mediator'
      MEDIATOR_API_PORT: 3003
    volumes:
      - type: volume
        source: instant
        target: /instant
    # This command will only attempt to import the covid19immunization-mediator config when the uptime endpoint responds with 200
    command: sh -c "wait-on -t 60000 http-get://covid19-immunization-mediator:3003/uptime && sleep 1 && node /instant/covid19-immunization-tracking-package/docker/importer/volume/endpoint.js"
  
  hapi-fhir-config-importer:
    container_name: hapi-fhir-config-importer
    image: jembi/instantohie-config-importer
    restart: on-failure
    environment:
      HAPI_FHIR_BASE_URL: 'http://hapi-fhir:8080/fhir'
      COVID19_IG_URL: 'https://jembi.github.io/covid19-immunization-ig'
      NODE_ENV: 'production'
    volumes:
      - type: volume
        source: instant
        target: /instant
    command: sh -c "wait-on -t 60000 http-get://hapi-fhir:8080 && sleep 1 && npm install --prefix /instant/covid19-immunization-tracking-package/ && node /instant/covid19-immunization-tracking-package/docker/importer/volume/fhirConfig.js"

  opencr-config-importer:
    container_name: opencr-config-importer
    image: jembi/instantohie-config-importer
    restart: on-failure
    environment:
      OPENCR_HOST_NAME: 'opencr'
      OPENCR_API_PORT: 3000
    volumes:
      - type: volume
        source: instant
        target: /instant
    command: sh -c "wait-on -t 60000 http-get://opencr:3000/crux && sleep 1 && node /instant/covid19-immunization-tracking-package/docker/importer/volume/opencrConfig.js"

volumes:
  instant:
    external: true
